@font-face {font-family: nissanPro reg;src: url(../fonts/NissanBrandW01-Regular.woff2);}
@font-face {font-family: nissanPro Bold;src: url(../fonts/NissanBrandW01-Bold.woff2);font-weight: bold;}
@font-face {font-family: nissanPro Light;src: url(../fonts/NissanBrandW01-Light.woff2);}

body {font-family:'nissanPro reg',sans-serif;font-size:1em}
.title {font-family:'nissanPro Bold', sans-serif;font-weight:700;color:#000;margin-top:15px;letter-spacing: -1px;}
.sub {font-family:'nissanPro Light', sans-serif;color:#cc0000}
.menu {background:#222;margin-bottom:-50px;height:50px}
.nav-tabs {font-family:'nissanPro Bold', sans-serif;font-size: 14px;border: 0px solid #ddd;padding: 7px;}
.nav-tabs a {color: #fff;}
.nav-link {border: 0px;padding: 10px;}
.nav-link:hover,
.nav-link:active {border: 0px;padding: 11px;55}
.sticky-top {
  top: 0;
  width: 100%;
  z-index: 1031;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.btn {
    border-radius: 0;
}
.btn-default {
    background: #d32d24;
    border-color: #d32d24;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background: #8c1b19;
    border-color: #8c1b19;
    color: #fff;
}
.btn-primary {
    background: #003f85;
    border-color: #003f85;
}
.btn-outline-primary {
    border-color: #003f85;
    border-radius: 0;
    color: #003f85;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background: #003f85;
    border-color: #003f85;
}
.btn-outline-white {
    border-color: #fff;
    border-radius: 0;
    color: #fff;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #000;
}
.btn-rounded {
    border-radius: 25px;
    padding: 10px 25px;
}
.btn-outline-rounded {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
}
.btn-outline-rounded:hover {
    background: #173e80;
    border: 1px solid #173e80;
    border-radius: 25px;
    color: #fff;
}
.btn-brochure {
    position: absolute;
    top: 0;
    left: 0;
}
.navbar {
    justify-content: flex-start;
    padding: 0;
}
#navbar {
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
}
.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
	z-index: 1032;
	position: relative;
}
main {
    position: relative;
}
main .content {
    margin-top: 30px;
}
.section-nav {
	background: #fff;
    display: flex;
	margin-top: 50px;
	border-bottom: 5px solid #ccc;
}
.section-nav .container {
    display: flex;
}
.section-nav a {
    color: #222;
    display: block;
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
	padding-right: 5px;
}
.section-spec {
    padding: 10px 0;
}
.section-spec .accordion {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 0px;
}
.section-spec .accordion a:hover {
	text-decoration:none;
}
.section-spec .accordion .accordion-heading::after {
	font-size: 28px;
    content: "\203a";
    display: block;
    position: absolute;
    right: 5px;
    top: 0px;
	transition: all .4s ease;
}
.section-spec .accordion .accordion-heading.collapsed::after {
	transform: rotate(90deg);
}
.section-colors .color-options {
    margin: 5px 0;
}
.section-colors .color-options a {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 0 0;
    height: 40px;
    width: 40px;
    position: relative;
}
.section-colors .color-options a img {
    height: 40px;
    width: 40px;
    position: absolute;
}
.section-features {
	padding: 15px 0;
}
.section-features .feature-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-features .feature-nav .nav {
    border-bottom: none;
}
.section-features .feature-nav a {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
    border: none;
    color: #003168;
    padding: 8px;
}
.section-features .feature-nav a.active {
    border-bottom: 5px solid #d40008;
    border-radius: 0;
    color: #d40008;
	position: relative;
}
.section-features .feature-content {
	border-top: 5px solid #ccc;
	margin-top: -5px;
	padding: 30px 0 ;
}
.section-video {

}
.section-video iframe {
    display: block;
    margin: 0 auto;
}
.section-colors {
    padding: 15px 0;
	border-bottom: 1px solid #ddd;
}
.section-colors h3 {
	font-family:'nissanPro Light', sans-serif;
    color: #005173;
    font-size: 30px;
    font-weight: 200;
}
.section-colors .color-preview img {
    display: none;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.section-colors .color-preview img.active {
    display: block;
}
.accordion {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
}
.accordion .accordion-heading {
    border-top: 1px solid #c2c2c2;
    color: #222;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    position: relative;
    text-align: left;
	text-decoration: none;
}
.accordion .accordion-heading::after {
    content: "\203a";
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
	transition: all .4s ease;
}
.accordion .accordion-heading.collapsed::after {
	transform: rotate(90deg);
}
.breadcrumb {
	font-family:'nissanPro Bold', sans-serif;font-weight:700;color:#000;
    background-color: #fff;
    font-size: 14px;
    padding: 10px;
    display: flex;
	margin-top: -12px;
	width: 100%;
	border-radius: 0px;
}
.breadcrumb-item a {
    color: #222;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "\203A";
}
.paging {
    position: absolute;
    right: 0;
    top: -90px;
}
.paging:last-child {
    bottom: -30px;
    top: auto;
}
.paging strong {
    background: #f7f7f7;
    border: 1px solid #878787;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
}
.paging a {
    color: #878787;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
}
footer {
	font-family: "datsunPro Light",sans-serif;
	border-top: 1px solid #ddd;
    background: #000;
    padding: 10px 0;
    position: relative;
    z-index: 9999;
}
footer .features {
    margin-top: -40px;
    margin-bottom: 30px;
}  
.footer-nav h3 {
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
}
.footer-nav ul {
    list-style: none;
    padding: 0;
}
.footer-nav ul li a {
    color: #ddd;
    font-size: 14px;
}  
.footer-bottom {
    font-size: 12px;
    display: flex;
	color: #ddd;
    justify-content: space-between;
    padding: 10px 0 0;
}
.modal {
    z-index: 99999;
}
.modal-backdrop {
    z-index: 9999;
}
.scrollToTop {
	background: #fff;
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	font-size: 28px;
	cursor: pointer;
	padding: 0 15px 0 15px;
	border-radius: 5px;
}
.scrollToTop:hover{text-decoration:none;}
.filter__item--selected {color: #5c5edc;border-color: #5c5edc;}
.filter__item .icon {font-size: 1.55em;display: none;}
.container-fluid {padding: 0;margin: 0;}
.fade{opacity:0;transition:opacity .5s linear}
.web {display: ;}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
}

@media only screen and (max-width: 600px) {
	h1 {font-family:'datsunPro Bold', sans-serif;font-size:30px;font-weight:500;color:#002b80}
	h5 {font-family:'datsunPro Bold', sans-serif;font-size:15px;font-weight:700;color:#002b80;margin-top:10px}
	.nav-tabs {
		font-family:'nissanPro Light', sans-serif;
		font-size: 7px;
		top: 11px;
	}
	.filter__item .icon {
		display: inline-block;
	}
	.action__text {
		display: none;
	}
	.features {
		display: none;
	}
	.section-features .feature-nav a {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		border: none;
		color: #003168;
		padding: 8px;
	}
	.section-colors .color-options {
		margin: 2px 0;
	}
	.section-colors .color-options a {
		box-sizing: border-box;
		display: inline-block;
		margin: 1px 1px 0 0;
		height: 25px;
		width: 25px;
		position: relative;
	}
	.section-colors .color-options a img {
		height: 25px;
		width: 25px;
		position: absolute;
	}
	.section-colors h3 {
		font-family:'nissanPro Light', sans-serif;
		color: #005173;
		font-size: 20px;
		font-weight: 200;
	}
	.accordion .accordion-heading {border-top: 1px solid #c2c2c2;color: #222;display: block;font-size: 14px;font-weight: 500;padding: 10px;position: relative;text-align: left;text-decoration: none;}
	.accordion .accordion-heading::after {content: "\203a";font-size: 25px;right: 10px;top: 3px;}
	.pricelist, .dealer .nav-tabs .nav-item .nav-link {font-size: 12px;color:#222}
		.table-striped {
		font-size: 10px;
		width: 100%;
	}
	.breadcrumb {
		font-family:'nissanPro Bold', sans-serif;font-weight:700;color:#fff;
		background-color: #222;
		font-size: 12px;
	}
	.breadcrumb-item a {
    color: #fff;
}
	.navbar-menu {
		height: 100%;
	}
	.web {display: none;}
	  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}